<label class="compound-label"><%= attr.humanize() %></label>
<div class="toolbar">
	<div class="btn-group">
		<% list(fieldType.allowed, function(field){ %>
			<button class="btn btn-mini btn-primary add-to-compound" data-field-type="<%= field %>">Add <%= field %></button>
		<% }) %>
	</div>
	
</div>
<div class="compound-values">
	<% list(this.model, function(item, i){ %>
		<div class="compound-value" data-field-type="<%= item.type %>" <%= (el)-> renderField(el, {type: item.type, name: item.type}, item, "value", {collection: true})%>></div>
	<% }) %>
</div>