<div class="control-group form-vertical">
	<label>
		<span class="label-text">
			<% if(this.collection){ %>
				<i class="icon-sort"></i>
			<% } %>
			<%= collection ? fieldType.name.humanize() : attr.humanize() %>
		</span>
	</label>
	<div class="block-fields">
		<div class="attachment-field-wrap">
			<div class="attachment-toolbar btn-group">
				<a href="javascript://" class="select-attachment btn btn-mini"><i class="icon-file"></i> Select File</a>
				<a href="javascript://" class="<%= this.collection ? 'remove' : 'remove-attachment' %> btn btn-mini"><i class="icon-remove"></i> Remove File</a>

			</div>
			<% if(this.model.attr(this.attr + ".url")){ %>
				<div class="attachment">
					<div class="info"><%= this.model.readAttr(this.attr + ".url").split('/').pop() %> (<%= humanizedBytes(this.model.readAttr(this.attr + ".size")) %>)</div>
					<input type='text' value="<%= this.model.readAttr(this.attr + '.name') %>" class="full-width" />
				</div>
			<% } %>
		</div>
	</div>
</div>