<div class="rule-wrap form-inline clearfix date-range" data-rule="date_range">
	<div class="reorder-handle"><i class="icon-sort"></i></div>
	<div class="error"><i class="icon-warning-sign"></i></div>
	<select class="date-fields">
		<option value="">Select Field</option>
		<% for(var field in fields){ %>
			<% if(fields.hasOwnProperty(field) && fields[field] === "date"){ %>
				<option value="<%= field %>" <%= field === selectedField ? "selected" : "" %>><%= field %></option>
			<% } %>
		<% } %>
	</select>
	<label>
		<span>has a date in range</span>
		<input type="text" class="input-small range" name="start[]" <%= (el)-> el.datepicker(); el.datepicker('setDate', (value && value[0] ? new Date(value[0]) : "+0")) %> />
	</label>
	<label>
		<input type="text" class="input-small right-input range" name="end[]" <%= (el)-> el.datepicker(); el.datepicker('setDate', (value && value[1] ? new Date(value[1]) : "+0")) %> />
	</label>
	<a href="javascript://" class="btn btn-small remove-rule"><i class="icon-minus"></i></a>
</div>