<ul class="nav nav-tabs content-tabs" <%= (el)-> loadFirstTab(el) %>>
	<% for(var i = 0; i < behaviors.length; i++){ %>
		<li>
			<a href="<%= can.route.url({settings: "behaviors", behavior: behaviors[i].behavior}, true) %>">
				<%= behaviors[i].behavior.humanize() %>
			</a>
		</li>
	<% } %>
	<li><a href="<%= can.route.url({settings: "slots"}, true) %>">Slots</a></li>
	<li><a href="<%= can.route.url({settings: "categories"}, true) %>">Categories</a></li>
</ul>
<div class="tab-content"></div>