<ul class="nav nav-tabs content-tabs" <%= (el)-> loadFirstTab(el) %>>
	<% if(behaviors.length > 0){ %>
		<li class="dropdown behaviors-tab">
			<a href="<%= can.route.url({settings: "behaviors", behavior: behaviors[0].behavior}, true) %>" class="dropdown-toggle">
				<b class="icon-file"></b>
				Content
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<% for(var i = 0; i < behaviors.length; i++){ %>
					<li>
						<a href="<%= can.route.url({settings: "behaviors", behavior: behaviors[i].behavior}, true) %>">
							<%= behaviors[i].behavior.humanize() %>
						</a>
					</li>
				<% } %>
			</ul>
		</li>
	<% } %>
	<li class="slots-tab"><a href="<%= cleanRouteUrl({settings: "slots"}, ['behavior']) %>"><b class="icon-paper-clip"></b>Slots</a></li>
	<li class="categories-tab"><a href="<%= cleanRouteUrl({settings: "categories"}, ['behavior']) %>"><b class="icon-tags"></b>Categories</a></li>
</ul>
<div class="tab-content"></div>