<div class="form-wrapper">
	<form>

		<fieldset>
			<div class="basic-wrap">
				<div class="control-group">
					<label class="control-label" for="page_name">Name</label>
					<div class="controls">
						<input id="page_name" class="span3" type="text" size="16" name="page[name]">
					</div>
				</div>
				<div class="clearfix">
					<div class="control-group parent-wrap">
						<label class="control-label" for="page_parent_id">Parent page</label>
						<div class="controls">
							<select id="page_parent_id" name="page[parent_id]">
								<option value="">Root</option>
								<%== tree %>
							</select>
						</div>
					</div>
					<div class="control-group slug-wrap">
						<label class="control-label" for="page_slug">Slug</label>
						<div class="controls">
							<input id="page_slug" class="span3" type="text" size="16" name="page[slug]">
							<p class="help-block calculated-path"><b>Full path: </b><span></span></p>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="page_node_type" class="control-label">Type</label>
					<div class="controls">
						<select name="page[node_type]" id="page_node_type">
							<option value="">Select Type</option>
							<% for(var i = 0; i < nodeTypes.length; i++){ %>
								<option value="<%= nodeTypes[i].id %>"><%= nodeTypes[i].name %></option>
							<% } %>
						</select>
					</div>
				</div>
				<div class="control-group template-group-wrap">
					<label for="page_template_group" class="control-label">Template Group</label>
					<div class="controls">
						<select name="page[template_group]" id="page_template_group">
							<option value="">Select Template Group</option>
							<% for(var i = 0; i < templateGroups.length; i++){ %>
								<option value="<%= templateGroups[i].id %>"><%= templateGroups[i].id.humanize() %></option>
							<% } %>
						</select>
					</div>
				</div>
				<div class="content-slots-categories">
				</div>
			</div>
		</fieldset>
		<div class="actions-bar clearfix">
			<input type="submit" value="Save Page" class="btn btn-primary" />
		</div>
	</form>
</div>