<ul class="unstyled">
	<% var exts = ["html", "rss", "xml", "json", "js"] %>
	<% for(var j = 0; j < exts.length; j++){ %>
		<% if(this.behavior.templates.hasOwnProperty(exts[j])){ %>
			<li>
				<span class="label"><%= exts[j] %></span> 
				<span class="behavior-path">
					<span class="path"><%= path %></span><%= this.behavior.url %><%= exts[j] !== "html" ? "." + exts[j] : "" %>
				</span>
				<span class="template-filename"><%= this.behavior.templates[exts[j]] %></span>
			</li>
		<% } %>
	<% } %>
	<% var templateSlots = slots.normalizedSlots() %>
	<% if(templateSlots.length > 0){ %>
			<li>
		
			<div class="template-slots clearfix">
				<div class="template-slots-table-wrap">
					<table>
						<tr>
							<th><label>Template slot</label></th>
							<th><label>Assigned slot</label></th>
						</tr>
						<% for(var i = 0; i < templateSlots.length; i++){ %>
							<tr>
								<td class="slot-name"><%= templateSlots[i].humanize() %></td>
								<td class="pick-slot">
									<select name="page[slots][<%= behavior.id %>][<%= templateSlots[i] %>]">
										<option value="">Empty</option>
										<% if(defaultSlots.defaultSlotFor(templateSlots[i]) !== null){ %>
											<option value="default" <%= this.page.readAttr('slots.' + behavior.id + '.' + templateSlots[i]) === "default" ? "selected" : "" %>>
												-- Default (<%= availableSlots.get(defaultSlots.defaultSlotFor(templateSlots[i]))[0].name %>)
											</option>
										<% } %>
										<% for(var k = 0; k < availableSlots.length; k++){ %>
											<option value="<%= availableSlots[k].id %>" <%= this.page.readAttr('slots.' + behavior.id + '.' + templateSlots[i]) == availableSlots[k].id ? "selected" : "" %>>
												-- <%= availableSlots[k].name %>
											</option>
										<% } %>
									</select>
								</td>
							</tr>
						<% } %>
					</table>
				</div>
			</div>
		</li>
	<% } %>
</ul>
