<label class="checkbox section <%= !section.hasSectionContentType() ? 'disabled' : '' %>" style="padding-left: <%= (section.parent_ids.length) * 20 + 5 %>px" >
	<input type="checkbox" name="slot[sections]" value="<%= section.id %>" class="source-section" <%= !section.hasSectionContentType() ? 'disabled' : '' %> data-type="<%= section.section_content_type %>" /> <i class="icon-folder-open"></i> <%= section.name %>
</label>
<% for(var i = 0; i < pages.childrenOf(section.id).length; i++){ %>
	<%== can.view.render('//admin/slots/form/views/section.ejs', {section: pages.childrenOf(section.id)[i], pages: pages}) %>
<% } %>